{% extends "base.html" %}
{% load static %}

{% block title %}Ca potage{% endblock %}

{% block content %}
<main>
  <article>

    <!-- 
        - #HERO
      -->

    <section class="section hero" id="home" aria-label="hero" data-section>
      <div class="container">

        <ul class="has-scrollbar">

          <li class="scrollbar-item">
            <div class="hero-card has-bg-image"
              style="background-image: url('{% static 'images/hero-banner-1.jpg' %}')">
              <div class="card-content">

                <h2 class="h1 hero-title">
                  &ldquo; C’est meilleur <br>
                  quand ça vient d’ici &rdquo;
                </h2>

                <p class="hero-text">
                  Plateforme communautaire autour du potager et de la vente de production locale à petite échelle.
                </p>

                <!-- <p class="price">Starting at $7.99</p> -->

                <a href="#" class="btn btn-primary">Achetez</a>

              </div>

            </div>
          </li>

          <li class="scrollbar-item">
            <div class="hero-card has-bg-image"
              style="background-image:url('{% static 'images/hero-banner-2.jpeg' %}')">

              <div class="card-content">

                <h2 class="h1 hero-title">
                  C’est meilleur <br>
                  quand ça vient d’ici &#x275E;
                </h2>

                <p class="hero-text">
                  Plateforme communautaire autour du potager et de la vente de production locale à petite échelle.
                </p>

                <!-- <p class="price">Starting at $7.99</p> -->

                <a href="#" class="btn btn-primary">Achetez</a>

              </div>

            </div>
          </li>

          <li class="scrollbar-item">
            <div class="hero-card has-bg-image"
              style="background-image: url('{% static 'images/hero-banner-3.jpeg' %}')">

              <div class="card-content">

                <h2 class="h1 hero-title">
                  C’est meilleur <br>
                  quand ça vient d’ici &#x275E;
                </h2>

                <p class="hero-text">
                  Plateforme communautaire autour du potager et de la vente de production locale à petite échelle.
                </p>

                <!-- <p class="price">Starting at $7.99</p> -->

                <a href="#" class="btn btn-primary">Achetez</a>

              </div>

            </div>
          </li>

        </ul>

      </div>
    </section>





    <!-- 
        - #CATEGORIE 
      -->

    <section class="section categorie" id="categorie" aria-label="categorie" data-section>
      <h2 class="h2-large section-title">Catégories</h2>
      <div class="container">
        <ul class="has-scrollbar categorie-list">
          {% for categorie in categories %}
          <li class="scrollbar-item">
            <a href="{% url 'ventes:ventes_list_categorie' categorie.id %}" class="category-link">
              <div class="categorie-card has-before hover:shine">
                <h2 class="h2 card-title">{{ categorie.nom }}</h2>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>






    <!-- 
        - #SHOP
      -->

    <section class="section shop" id="shop" aria-label="shop" data-section>
      <div class="container">

        <div class="title-wrapper">
          <h2 class="h2 section-title">Ventes en cours</h2>

          <a href="{% url 'ventes:ventes_list_en_cours' %}" class="btn-link">
            <span class="span">Voir tous les produits</span>

            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
          </a>
        </div>

        <ul class="has-scrollbar">
          {% for vente in ventes_en_cours %}
          <li class="scrollbar-item">
            <div class="shop-card">
              <div class="card-banner img-holder" >
                <!-- style="--width: 540; --height: 720;" -->
                <img src="{{ vente.photos.url }}" loading="lazy"
                  alt="{{ vente.produit }}" class="img-cover">
                  <!-- width="540" height="720"  -->
                <span class="badge" aria-label="20% off">-20%</span>

                <div class="card-actions">
                  <button class="action-btn" aria-label="add to cart">
                    <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                  </button>

                  <button class="action-btn" aria-label="add to wishlist">
                    <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
                  </button>

                  <button class="action-btn" aria-label="compare">
                    <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
                  </button>
                </div>
              </div>
              <div class="card-content">
                <div class="price">
                  <del class="del">{{ vente.tarif|floatformat:2|add:"-10" }}€</del>
                  <span class="span">{{vente.tarif }}€</span>
                </div>
  
                <h3>
                  <a href="{% url 'ventes:vente_detail' vente.id %}" class="card-title">{{ vente.produit }}</a>
                </h3>
  
                <div class="card-rating">
  
                  <div class="rating-wrapper" aria-label="5 start rating">
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                  </div>
  
                  <p class="rating-text">5170 reviews</p>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>

      </div>
    </section>

    <section class="section shop" id="shop" aria-label="shop" data-section>
      <div class="container">

        <div class="title-wrapper">
          <h2 class="h2 section-title">Les plus recherchés</h2>

          <a href="{% url 'ventes:list' %}" class="btn-link">
            <span class="span">Voir tous les produits</span>

            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
          </a>
        </div>

        <ul class="has-scrollbar">
          {% for produit in produits_recherches %}
          <li class="scrollbar-item">
            <a href="{% url 'ventes:vente_detail' produit.id %}">
              <div class="shop-card">
                <div class="card-banner img-holder" >
                  <!-- style="--width: 540; --height: 720;" -->
                  <img src="{{ produit.photos.url }}"  loading="lazy" alt="{{ produit.produit }}"
                    class="img-cover">
                    <!-- width="540" height="720" -->
                  <span class="badge" aria-label="20% off">-20%</span>

                  <div class="card-actions">
                    <button class="action-btn" aria-label="add to cart">
                      <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                    </button>

                    <button class="action-btn" aria-label="add to wishlist">
                      <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
                    </button>

                    <button class="action-btn" aria-label="compare">
                      <ion-icon name="repeat-outline" aria-hidden="true"></ion-icon>
                    </button>
                  </div>
                </div>
            </a>
            <div class="card-content">
              <div class="price">
                <del class="del">{{ produit.tarif|floatformat:2|add:"-10" }}€</del>
                <span class="span">{{produit.tarif }}€</span>
              </div>

              <h3>
                <a href="{% url 'ventes:vente_detail' produit.id %}" class="card-title">{{ produit.nom }}</a>
              </h3>

              <div class="card-rating">

                <div class="rating-wrapper" aria-label="5 start rating">
                  <ion-icon name="star" aria-hidden="true"></ion-icon>
                  <ion-icon name="star" aria-hidden="true"></ion-icon>
                  <ion-icon name="star" aria-hidden="true"></ion-icon>
                  <ion-icon name="star" aria-hidden="true"></ion-icon>
                  <ion-icon name="star" aria-hidden="true"></ion-icon>
                </div>

                <p class="rating-text">5170 reviews</p>
              </div>
            </div>

          </li>
          {% endfor %}
        </ul>


      </div>
    </section>



    <!-- 
        - #FEATURE
      -->

    <section class="section feature" id="about" aria-label="feature" data-section>
      <div class="container">

        <h2 class="h2-large section-title">Pourquoi choisir ça potage ?</h2>

        <ul class="flex-list">

          <li class="flex-item">
            <div class="feature-card">

              <img src="{% static 'images/quality.png' %}" width="204" height="236" loading="lazy"
                alt="Qualité garantie" class="card-icon">

              <h3 class="h3 card-title">Qualité garantie</h3>

              <p class="card-text">
                Toutes nos productions respectent des normes strictes de qualité et ne contiennent jamais d'ingrédients nocifs ou toxiques.
              </p>

            </div>
          </li>

          <li class="flex-item">
            <div class="feature-card">

              <img src="{% static 'images/animals.png' %}" width="204" height="236" loading="lazy"
                alt="Respect total des animaux" class="card-icon">

              <h3 class="h3 card-title">Respect total des animaux</h3>

              <p class="card-text">
                Nous sommes engagés dans une démarche de respect total envers les animaux. Aucun test sur les animaux n'est effectué dans nos processus de production.
          
              </p>

            </div>
          </li>

          <li class="flex-item">
            <div class="feature-card">

              <img src="{% static 'images/conveyor.png' %}" width="204" height="236" loading="lazy"
                alt="Approvisionnement responsabl" class="card-icon">

              <h3 class="h3 card-title">Approvisionnement responsable</h3>

              <p class="card-text">
                Nous privilégions des sources d'approvisionnement responsables pour garantir des produits de qualité et respectueux de l'environnement.
          
              </p>

            </div>
          </li>

        </ul>

      </div>
    </section>





    <!-- 
        - #OFFER
      -->

    <section class="section offer" id="offer" aria-label="offer" data-section>
      <div class="container">

        <figure class="offer-banner">
          <img src="{% static 'images/offer-banner-1.jpg' %}" width="305" height="500" loading="lazy"
            alt="offer products" class="w-100">

          <img src="{% static 'images/offer-banner-2.jpg' %}" width="450" height="625" loading="lazy"
            alt="offer products" class="w-100">
        </figure>

        <div class="offer-content">

          <p class="offer-subtitle">
            <span class="span"> Offre Spéciale </span>

            <span class="badge" aria-label="20% off">-20%</span>
          </p>

          <h2 class="h2-large section-title">Le panier du jadinier</h2>

          <p class="section-text">
            Des légumes frais, tout droit sortis de terre. <br>
            "C’est meilleur quand ça vient d’ici."
          </p>

          <div class="countdown">

            <span class="time" aria-label="days">15</span>
            <span class="time" aria-label="hours">21</span>
            <span class="time" aria-label="minutes">46</span>
            <span class="time" aria-label="seconds">08</span>

          </div>

          <a href="#" class="btn btn-primary">Pour seulement 21,90€</a>

        </div>

      </div>
    </section>





    <!-- 
        - #BLOG
      -->

    <section class="section blog" id="blog" aria-label="blog" data-section>
      <div class="container">

        <h2 class="h2-large section-title">Plus à découvrir</h2>

        <ul class="flex-list">

          <li class="flex-item">
            <div class="blog-card">

              <figure class="card-banner img-holder has-before hover:shine" style="--width: 700; --height: 450;">
                <img src="{% static 'images/blog-1.jpg' %}" width="700" height="450" loading="lazy" alt="Find a Store"
                  class="img-cover">
              </figure>

              <h3 class="h3">
                <a href="#" class="card-title">Trouver une boutique</a>
              </h3>

              <a href="#" class="btn-link">
                <span class="span">Nos boutiques</span>

                <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
              </a>

            </div>
          </li>

          <li class="flex-item">
            <div class="blog-card">

              <figure class="card-banner img-holder has-before hover:shine" style="--width: 700; --height: 450;">
                <img src="{% static 'images/blog-2.jpg' %}" width="700" height="450" loading="lazy" alt="From Our Blog"
                  class="img-cover">
              </figure>

              <h3 class="h3">
                <a href="#" class="card-title">Depuis notre blog</a>
              </h3>

              <a href="#" class="btn-link">
                <span class="span">Découvrir</span>

                <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
              </a>

            </div>
          </li>

          <li class="flex-item">
            <div class="blog-card">

              <figure class="card-banner img-holder has-before hover:shine" style="--width: 700; --height: 450;">
                <img src="{% static 'images/blog-3.jpg' %}" width="700" height="450" loading="lazy" alt="Our Story"
                  class="img-cover">
              </figure>

              <h3 class="h3">
                <a href="#" class="card-title">Notre histoire</a>
              </h3>

              <a href="#" class="btn-link">
                <span class="span">Lire</span>

                <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
              </a>

            </div>
          </li>

        </ul>

      </div>
    </section>

  </article>
</main>



{% endblock %}