{% extends "base.html" %}
{% load static %}

{% block title %}Traitement de la Demande d'Achat{% endblock %}

{% block content %}
<a href="{% url 'users:detail' user.username  %}" class="btn-link">
  <img width="16" height="16" src="https://img.icons8.com/small/16/left2.png" alt="left2"/>
  <span class="span">Retour</span>
</a>
<div class="title">
<h2 class="h2-large section-title">Traitement de la Demande d'Achat</h2>
</div>
  <h2>{{ demande.vente.produit }}</h2>
  <p>Acheteur : {{ demande.acheteur.username }}</p>
  <p>Message : {{ demande.message }}</p>

  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="action" value="accepter">
    <button class="btn btn-success" type="submit">Accepter</button>
  </form>

  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="action" value="refuser">
    <button class="btn btn-danger" type="submit">Refuser</button>
  </form>
{% endblock %}
