{% extends "base.html" %}
{% load static %}

{% block title %}Modifier la Vente{% endblock %}

{% block content %}
<div class="title">
  <h2 class="h2-large section-title">Modifier la Vente</h2>
  <p>Ici vous pouvez modifier toutes les informations de votre vente.</p>
</div>

<div class="col-md-6 offset-md-3">
  <form method="post" enctype="multipart/form-data" class="login">
    {% csrf_token %}
    {{ form.as_div }}
    <button class="btn btn-primary" type="submit">Modifier</button>
  </form>
</div>
{% endblock %}