{% extends 'base.html' %}

{% block title %}chats{% endblock %}



{% block content %}
{% if user.is_authenticated %}

  <div class="container shop" >
    <div class="title">
      <h2 class="h2-large section-title">Salut {{ user.username }},</h2>
      <h2>Vous êtes {{ user.role }} sur cette plateforme</h2>
      <p>Ici vous pouvez avoir accès à tous les chats dont vous êtes participants.</p>
    </div>
      
      
      {% if rooms %}
        <div class="action-manager">
            {% for room in rooms %}
            
            <div class="card">
                <div class="mb-3" style="max-width: 18rem;">
                    <div class="card-block">
                        <h3 class="card-title">{{room.name}}</h3>

                        <p class="card-text">
                          Discussion sur la vente de "{{ room.name }}" 
                          {% if user.role == role_vendeur %}
                          entre vous ({{ user.username }} - Vendeur) et l'acheteur ({{ room.participants.all.1.username }})
                          {% elif user.role == role_acheteur %}
                          entre vous ({{ user.username }} - Acheteur) et le vendeur ({{ room.participants.all.0.username }})
                          {% endif %}
                        </p>
                        
                        
                      
                        <a href="{{room.slug}}" class="btn btn-outline-secondary">Discuter</a>
                    </div>
                </div>
            </div>

            {% endfor %}

            
        </div>
    {% else %}
            Vous n'avez aucune discussion !
    {% endif %}
</div>



{% else %}
<div class="container">
    <div class="alert alert-info d-flex justify-content-between" role="alert">
        <h5>You are not logged in</h5>
        <a href="/accounts/logout/">
          <button type="button" class="btn btn-light"><a href="{% url 'login' %}">Log In</a></button>
        </a>
      </div>
</div>  
{% endif %}

<br/>

    




{% endblock %}