{% extends "base.html" %}

{% block title %}Changer de rôle{% endblock %}

{% block content %}
<a href="{% url 'users:detail' user.username  %}" class="btn-link">
  <img width="16" height="16" src="https://img.icons8.com/small/16/left2.png" alt="left2"/>
  <span class="span">Retour</span>
</a>
  <div class="title">
    <h2 class="h2-large section-title">Changer de rôle</h2>
    <p>Ici vous pouvez changer votre rôle sur la plateforme.</p>
    <p>Si vous avez le rôle d'acheteur, vous pouvez devenir venndeur ou acheteur_vendeur</p>
    <p>Si vous avez le rôle de vendeur, vous pouvez devenir acheteur_vendeur</p>
    <p>Et vous {{ user.username }}, vous êtes {{ user.role }} !</p>
  </div>
  
  <div class="col-md-6 offset-md-3">
  <form method="post" enctype="multipart/form-data" class="login role">
    {% csrf_token %}
    {{ form.as_div }}
    <button class="btn btn-primary" type="submit">Changer de rôle</button>
  </form>
  </div>
{% endblock %}
